# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración del editor
.vscode/
.idea/

# Archivos de entorno generales
.env
.env.*.local

# Archivos temporales de swap
*.swp

# Logs globales
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Caches globales
.npm/
.pnpm-debug.log
